<%- include("header") -%>

<div>
    <button class="navbtn" onclick="location.href='/'">home</button>
    <button class="navbtn" onclick="location.href='/work'">worklist</button>
    <button class="navbtn" onclick="location.href='/about'">about</button>
</div>

<h1>about</h1>
<p>snaaaaaaaaaaaaan hweugweygfu wegweugwwe wewieyyggf ff i ssvbsgs sisi bsbvsayuoa f as sa</p>

<%- include("footer") -%>